[user]
	name = Nikola Knezevic
	email = {{ .email }}
[github]
	user = knl
[color]
	status = auto
	diff = auto
	branch = auto
	ui = auto
[color "diff"]
    whitespace = red reverse
[alias]
	st = status
	ss = status -sb
	ci = commit
	co = checkout
	br = branch
	dc = diff --cached
	lg = log -p
	ls = ls-files
	w  = whatchanged
# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
# Word diffs
	wd = diff --word-diff
	lolo = log --pretty=oneline --abbrev-commit --graph --decorate
	hist = log --pretty=format:'%Cblue%h %Cgreen%ad%Creset | %s%d [%an]' --graph --date=short
	lol = log --pretty=tformat:'%Cblue%h %Cgreen[%cr]%Creset%d * %s' --color --abbrev-commit --graph --decorate
	distclean = clean -dxf
# For merging, to pick files wholesale
	ours   = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
# To ignore certain files during work, for example password files
	assume   = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
# KSReview is a useful way to do codereviews of feature branches. It will send
# all the work done on a feature branch since it diverged from master or
# a specified mainline branch to Kaleidoscope.
	ksreview = "!sh -c 'SHA=${1:-HEAD}; BRANCH=${2:-master}; if [ $SHA == $BRANCH ] ; then SHA=HEAD; fi; git difftool -y -t Kaleidoscope $BRANCH...$SHA;' -"
# KSShow gives you the contents of an arbitrary sha in Kaleidoscope.
	ksshow = "!sh -c 'SHA=${1:-HEAD}; git difftool -y -t Kaleidoscope $SHA^..$SHA;' -"
# KSDiff is just a more compact version of difftool -y -t Kaleidoscope for
# people who don't use Kaleidoscope as the default difftool.
	ksdiff = difftool -y -t Kaleidoscope
# git for humans
	branches = branch -a
	tags = tag
	stashes = stash list
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
	nevermind = !git reset --hard HEAD && git clean -d -f
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	prestage = diff -w --word-diff=color
	precommit = diff --cached --diff-algorithm=minimal -w
	unmerged = diff --name-only --diff-filter=U
	remotes = remote -v
	last = log -1 HEAD --format=format:"%Cred%H"
	history = log -10 --format=format:'%Cgreen%h %Creset• %s (%cN, %ar)'
	back = checkout "-"
	discard = checkout --
	mergetrail = log --ancestry-path --merges
	precommit = diff --cached --diff-algorithm=minimal -w
{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{- end }}
[core]
	legacyheaders = false
	excludesfile = ~/.gitignore
	editor = vim -c ':normal gg'
	;whitespace = trailing-space,space-before-tab
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[repack]
	usedeltabaseoffset = true
[diff]
	renames = copies
	mnemonicprefix = true
	algorithm = histogram
[diff "latex"]
	wordRegex = "\\\\[a-zA-Z]+|[{}]|\\\\.|[^\\{}[:space:]]+"
	command = ~/bin/word-diff.sh
[branch]
	autosetupmerge = true
[push]
	default = current
[rerere]
	enabled = true
[merge]
	stat = true
{{- if eq .chezmoi.os "darwin" }}
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"

[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"

# If you want to set up Kaleidoscope as the default merge tool,
# then also set the following variables:
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
{{- end }}