<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>triggers</key>
	<array>
		<dict>
			<key>ID</key>
			<string>CurrentFocusedWindowCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>UI Access</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating2</string>
			<key>command</key>
			<string>QSiTunesSetRating2</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 2</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchTracks</string>
			<key>command</key>
			<string>QSiTunesSearchTracks</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Search Tracks</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchAlbums</string>
			<key>command</key>
			<string>QSiTunesSearchAlbums</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Search Albums</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>D78BD9B8-804C-4C5E-809B-DD661BDA1E9B</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>QSShellScriptRunWithArgsAction</string>
				<key>directID</key>
				<string>/Users/kne/Library/Application Support/Quicksilver/PlugIns/com.blacktree.Quicksilver.QSExtraScriptsPlugIn.92.qsplugin/Contents/Resources/ExtraScripts/Processes/Fast Logout.sh</string>
				<key>indirectArchive</key>
				<dict>
					<key>class</key>
					<string>QSObject</string>
					<key>data</key>
					<dict>
						<key>QSTextProxyType</key>
						<string></string>
					</dict>
					<key>properties</key>
					<dict>
						<key>QSObjectName</key>
						<string></string>
						<key>QSObjectType</key>
						<string>QSTextProxyType</string>
					</dict>
				</dict>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>37</integer>
			<key>modifiers</key>
			<integer>1310985</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>00D88476-C648-4AC7-82B1-DDB4DB62450E</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/iTerm.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>17</integer>
			<key>modifiers</key>
			<integer>1966381</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPlayPauseTrigger</string>
			<key>command</key>
			<string>QSiTunesPlayPauseCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Play/Pause</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>CurrentDocumentCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>UI Access</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>YTDeMinMinimizeAllWindowsTrigger</string>
			<key>command</key>
			<string>YTDeMinMinimizeAllWindowsCommand</string>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Minimize All Windows</string>
			<key>set</key>
			<string>DeMinimizer</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesIncreaseRating</string>
			<key>command</key>
			<string>QSiTunesIncreaseRating</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Increase Rating</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>17A328E7-1D22-4F3A-9D6A-C059C08B33D6</string>
			<key>applicationScope</key>
			<array>
				<string>com.cobookapp.cobook</string>
			</array>
			<key>applicationScopeType</key>
			<integer>-1</integer>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Cobook.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>40</integer>
			<key>modifiers</key>
			<integer>1966379</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ShowAllAppMenusCommand</string>
			<key>command</key>
			<string>ShowAllAppMenusCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>UI Access</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating3</string>
			<key>command</key>
			<string>QSiTunesSetRating3</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 3</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPreviousSongTrigger</string>
			<key>command</key>
			<string>QSiTunesPreviousSongCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Previous Song</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSGetGlobalSelectionTrigger</string>
			<key>command</key>
			<string>QSGetGlobalSelectionCommand</string>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>53</integer>
			<key>modifiers</key>
			<integer>1048840</integer>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>CurrentApplicationCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>UI Access</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesMute</string>
			<key>command</key>
			<string>QSiTunesMute</string>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>109</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>name</key>
			<string>Mute</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesDecreaseRating</string>
			<key>command</key>
			<string>QSiTunesDecreaseRating</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Decrease Rating</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPlayTrigger</string>
			<key>command</key>
			<string>QSiTunesPlayCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Play</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating4</string>
			<key>command</key>
			<string>QSiTunesSetRating4</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 4</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>ShowAllAppWindowsCommand</string>
			<key>command</key>
			<string>ShowAllAppWindowsCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>UI Access</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSActivateTextModeTrigger</string>
			<key>command</key>
			<string>QSActivateTextModeCommand</string>
			<key>enabled</key>
			<false/>
			<key>set</key>
			<string>Quicksilver</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>YTDeMinRestoreAllMinWindowsTrigger</string>
			<key>command</key>
			<string>YTDeMinRestoreAllMinWindowsCommand</string>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Restore All Minimized Windows</string>
			<key>set</key>
			<string>DeMinimizer</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>4271D91D-2BCB-446A-8946-D183A3D42A3E</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Dash.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>4</integer>
			<key>modifiers</key>
			<integer>1966379</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesStopTrigger</string>
			<key>command</key>
			<string>QSiTunesStopCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Stop</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchAll</string>
			<key>command</key>
			<string>QSiTunesSearchAll</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Search iTunes</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating5</string>
			<key>command</key>
			<string>QSiTunesSetRating5</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 5</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesIncreaseVolume</string>
			<key>command</key>
			<string>QSiTunesIncreaseVolume</string>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>111</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>name</key>
			<string>Increase Volume</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating0</string>
			<key>command</key>
			<string>QSiTunesSetRating0</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 0</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>YTDeMinRestoreFirstMinWindowTrigger</string>
			<key>command</key>
			<string>YTDeMinRestoreFirstMinWindowCommand</string>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Restore First Minimized Window</string>
			<key>set</key>
			<string>DeMinimizer</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>32B49932-4220-4000-9579-0B86F8444F43</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Day One.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>31</integer>
			<key>modifiers</key>
			<integer>1966379</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSearchArtists</string>
			<key>command</key>
			<string>QSiTunesSearchArtists</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Search Artists</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>0BEA06F3-FEB5-402F-97B8-AC3136A5B222</string>
			<key>applicationScope</key>
			<array>
				<string>net.elasticthreads.nv</string>
			</array>
			<key>applicationScopeType</key>
			<integer>-1</integer>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/nvALT.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>45</integer>
			<key>modifiers</key>
			<integer>1966379</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesShowTrackNotification</string>
			<key>command</key>
			<string>QSiTunesShowTrackNotification</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Show Playing Track</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesDecreaseVolume</string>
			<key>command</key>
			<string>QSiTunesDecreaseVolume</string>
			<key>enabled</key>
			<false/>
			<key>keyCode</key>
			<integer>103</integer>
			<key>modifiers</key>
			<integer>8651009</integer>
			<key>name</key>
			<string>Decrease Volume</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesPauseTrigger</string>
			<key>command</key>
			<string>QSiTunesPauseCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Pause</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesSetRating1</string>
			<key>command</key>
			<string>QSiTunesSetRating1</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Set Rating to 1</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesNextSongTrigger</string>
			<key>command</key>
			<string>QSiTunesNextSongCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Next Song</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>4F39B123-B823-4E61-849A-EF3C2D6AF0A2</string>
			<key>command</key>
			<dict>
				<key>actionID</key>
				<string>FileOpenAction</string>
				<key>directID</key>
				<string>/Applications/Mail.app</string>
			</dict>
			<key>enabled</key>
			<true/>
			<key>keyCode</key>
			<integer>46</integer>
			<key>modifiers</key>
			<integer>1966379</integer>
			<key>onPress</key>
			<true/>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>YTDeMinRestoreLastMinWindowTrigger</string>
			<key>command</key>
			<string>YTDeMinRestoreLastMinWindowCommand</string>
			<key>enabled</key>
			<true/>
			<key>name</key>
			<string>Restore Last Minimized Window</string>
			<key>set</key>
			<string>DeMinimizer</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
		<dict>
			<key>ID</key>
			<string>QSiTunesEQToggleTrigger</string>
			<key>command</key>
			<string>QSiTunesEQToggleCommand</string>
			<key>enabled</key>
			<false/>
			<key>name</key>
			<string>Toggle iTunes Equalizer</string>
			<key>set</key>
			<string>iTunes</string>
			<key>type</key>
			<string>QSHotKeyTrigger</string>
		</dict>
	</array>
</dict>
</plist>
