<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BatteryCustomizeStates</key>
	<integer>1</integer>
	<key>BatteryDisplayMode</key>
	<string>5</string>
	<key>BatteryDisplayModeCharged</key>
	<string>5</string>
	<key>BatteryDisplayModeCharging</key>
	<string>2,1</string>
	<key>BatteryDisplayModeDraining</key>
	<string>3,0</string>
	<key>BatteryFirstWarningPercentage</key>
	<integer>20</integer>
	<key>BatterySecondWarningPercentage</key>
	<integer>5</integer>
	<key>CPUDisplayMode</key>
	<string>0</string>
	<key>CPUGraphsShowBreakdown</key>
	<integer>1</integer>
	<key>CPUGroupItems</key>
	<integer>1</integer>
	<key>CPUNiceGraphColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECYw
	Ljk5MjE1Njg2MzIgMC42ODIzNTI5NjAxIDAuMzgwMzkyMTY0ABABgALSEBESE1okY2xh
	c3NuYW1lWCRjbGFzc2VzV05TQ29sb3KiEhRYTlNPYmplY3RfEA9OU0tleWVkQXJjaGl2
	ZXLRFxhUcm9vdIABCBEaIy0yNztBSE5bYouNj5SfqLCzvM7R1gAAAAAAAAEBAAAAAAAA
	ABkAAAAAAAAAAAAAAAAAAADY
	</data>
	<key>CPUOverallGraphColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjI3NDUwOTgxNzQgMC40MTk2MDc4NDc5IDAuNjkwMTk2MDk2OQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>CPUSystemGraphColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECgw
	Ljg0MzEzNzI2NDMgMC4wOTgwMzkyMTcyOSAwLjEwOTgwMzkyMjUAEAGAAtIQERITWiRj
	bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNo
	aXZlctEXGFRyb290gAEIERojLTI3O0FITltijY+RlqGqsrW+0NPYAAAAAAAAAQEAAAAA
	AAAAGQAAAAAAAAAAAAAAAAAAANo=
	</data>
	<key>CPUUseCustomGraphColors</key>
	<integer>1</integer>
	<key>CPUUserGraphColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjI3NDUwOTgxNzQgMC40MTk2MDc4NDc5IDAuNjkwMTk2MDk2OQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>ClockDisplayMode</key>
	<array>
		<string>EE</string>
		<string>' '</string>
		<string>HH</string>
		<string>':'</string>
		<string>mm</string>
	</array>
	<key>ClockFlashSeperators</key>
	<integer>1</integer>
	<key>ClockFontSize</key>
	<integer>13</integer>
	<key>DisksMenubar</key>
	<array>
		<string>808E27CE-4492-3CED-B116-EB83953453F8</string>
	</array>
	<key>FanSpeedSets</key>
	<array>
		<dict>
			<key>name</key>
			<string>Medium</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>4100</integer>
				</dict>
				<dict>
					<key>fan</key>
					<string>F1Ac</string>
					<key>speed</key>
					<integer>4100</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>14A85C9E-94DD-4072-A684-12E93F447C52</string>
		</dict>
		<dict>
			<key>name</key>
			<string>High</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>6200</integer>
				</dict>
				<dict>
					<key>fan</key>
					<string>F1Ac</string>
					<key>speed</key>
					<integer>6200</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>83508958-9145-45B5-AB6A-A39ADAB4E044</string>
		</dict>
	</array>
	<key>MemoryDisplayMode</key>
	<string>3</string>
	<key>MemoryFreeColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjI3NDUwOTgxNzQgMC40MTk2MDc4NDc5IDAuNjkwMTk2MDk2OQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>MemoryIncludeInactive</key>
	<integer>1</integer>
	<key>MemoryUsedColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECgw
	Ljg0MzEzNzI2NDMgMC4wOTgwMzkyMTcyOSAwLjEwOTgwMzkyMjUAEAGAAtIQERITWiRj
	bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNo
	aXZlctEXGFRyb290gAEIERojLTI3O0FITltijY+RlqGqsrW+0NPYAAAAAAAAAQEAAAAA
	AAAAGQAAAAAAAAAAAAAAAAAAANo=
	</data>
	<key>NetworkDisplayMode</key>
	<string>1,0</string>
	<key>NetworkGraphMode</key>
	<integer>0</integer>
	<key>NetworkPrimaryInterface</key>
	<string></string>
	<key>NetworkRxColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjI3NDUwOTgxNzQgMC40MTk2MDc4NDc5IDAuNjkwMTk2MDk2OQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>NetworkRxGraphColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECcw
	LjI3NDUwOTgxNzQgMC40MTk2MDc4NDc5IDAuNjkwMTk2MDk2OQAQAYAC0hAREhNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1dOU0NvbG9yohIUWE5TT2JqZWN0XxAPTlNLZXllZEFyY2hp
	dmVy0RcYVHJvb3SAAQgRGiMtMjc7QUhOW2KMjpCVoKmxtL3P0tcAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>NetworkTxColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFRZYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OVU5TUkdCXE5TQ29sb3JTcGFjZVYkY2xhc3NPECgw
	Ljg0MzEzNzI2NDMgMC4wOTgwMzkyMTcyOSAwLjEwOTgwMzkyMjUAEAGAAtIQERITWiRj
	bGFzc25hbWVYJGNsYXNzZXNXTlNDb2xvcqISFFhOU09iamVjdF8QD05TS2V5ZWRBcmNo
	aXZlctEXGFRyb290gAEIERojLTI3O0FITltijY+RlqGqsrW+0NPYAAAAAAAAAQEAAAAA
	AAAAGQAAAAAAAAAAAAAAAAAAANo=
	</data>
	<key>NetworkUseCustomGraphColors</key>
	<integer>1</integer>
	<key>SensorsDisplayMode</key>
	<string>0</string>
	<key>SensorsMenubar</key>
	<array>
		<string>TCXC</string>
	</array>
	<key>SkinType</key>
	<integer>0</integer>
	<key>WorldClockDisplayMode</key>
	<array>
		<string>FUZZY</string>
	</array>
	<key>_mac_id</key>
	<string>0483b74620b023fd60b7c9d7ecbadf2c</string>
	<key>cities</key>
	<array>
		<integer>1221</integer>
		<integer>1264</integer>
		<integer>1104</integer>
	</array>
	<key>migrated4.0</key>
	<true/>
	<key>migratedExtras4.0</key>
	<true/>
	<key>sendDiagnostics</key>
	<false/>
	<key>skinColor</key>
	<integer>1</integer>
</dict>
</plist>
