<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>ShownSetupScreen</key>
	<true/>
	<key>UpdateCheckerID_V2</key>
	<string>0483b74620b023fd60b7c9d7ecbadf2c</string>
	<key>_migrated_4.10</key>
	<true/>
	<key>_migrated_4.11</key>
	<true/>
	<key>_migrated_4.21</key>
	<true/>
	<key>_modelid</key>
	<string>MacBookPro9,1</string>
	<key>installDateV5</key>
	<string>1412319512</string>
	<key>license5</key>
	<string>1155-9259-5511-5541-7353</string>
	<key>sendDiagnosticsShown</key>
	<true/>
	<key>serial4</key>
	<string>ouch-buzz-nest-9441-37301391-4</string>
	<key>trial</key>
	<data>
	Z6w/CN02o4oASxObXcM/Hg==
	</data>
</dict>
</plist>
