<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BatteryFirstWarningPercentage</key>
	<integer>20</integer>
	<key>BatterySecondWarningPercentage</key>
	<integer>5</integer>
	<key>Battery_MebubarModeCharged</key>
	<string>5</string>
	<key>Battery_MenubarCustomizeStates</key>
	<integer>1</integer>
	<key>Battery_MenubarMode</key>
	<string>5</string>
	<key>Battery_MenubarModeCharging</key>
	<string>2,1</string>
	<key>Battery_MenubarModeDraining</key>
	<string>3,0</string>
	<key>CPUNiceGraphColor</key>
	<string>1.00 0.74 0.45 1.00</string>
	<key>CPU_MenubarGraphBreakdowns</key>
	<integer>1</integer>
	<key>CPU_MenubarGraphCustomColors</key>
	<integer>1</integer>
	<key>CPU_MenubarGraphOverall</key>
	<string>0.34 0.50 0.74 1.00</string>
	<key>CPU_MenubarGraphSystem</key>
	<string>0.88 0.19 0.14 1.00</string>
	<key>CPU_MenubarGraphUser</key>
	<string>0.34 0.50 0.74 1.00</string>
	<key>CPU_MenubarGroupItems</key>
	<integer>1</integer>
	<key>CPU_MenubarMode</key>
	<string>0</string>
	<key>Diagnostics_Enabled</key>
	<false/>
	<key>Disks_MenubarItems</key>
	<array>
		<string>808E27CE-4492-3CED-B116-EB83953453F8</string>
	</array>
	<key>DropdownTheme</key>
	<integer>0</integer>
	<key>FanControl_Sets</key>
	<array>
		<dict>
			<key>name</key>
			<string>Medium</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>4100</integer>
				</dict>
				<dict>
					<key>fan</key>
					<string>F1Ac</string>
					<key>speed</key>
					<integer>4100</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>14A85C9E-94DD-4072-A684-12E93F447C52</string>
		</dict>
		<dict>
			<key>name</key>
			<string>High</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>6200</integer>
				</dict>
				<dict>
					<key>fan</key>
					<string>F1Ac</string>
					<key>speed</key>
					<integer>6200</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>83508958-9145-45B5-AB6A-A39ADAB4E044</string>
		</dict>
	</array>
	<key>Memory_DisplayFormat</key>
	<integer>1</integer>
	<key>Memory_IgnoreInactive</key>
	<integer>1</integer>
	<key>Memory_MenubarMode</key>
	<string>3</string>
	<key>Memory_UFFreeColor</key>
	<string>0.34 0.50 0.74 1.00</string>
	<key>Memory_UFUsedColor</key>
	<string>0.88 0.19 0.14 1.00</string>
	<key>MenubarSkinColor</key>
	<integer>1</integer>
	<key>MenubarSkinColor-Dark</key>
	<integer>1</integer>
	<key>MenubarSkinColor-Light</key>
	<integer>1</integer>
	<key>MenubarTheme</key>
	<integer>0</integer>
	<key>MigratedExtras_5.0</key>
	<true/>
	<key>MigratedExtras_5.1</key>
	<true/>
	<key>Migrated_5.0</key>
	<true/>
	<key>Network_GraphCustomColors</key>
	<integer>1</integer>
	<key>Network_GraphDownload</key>
	<string>0.34 0.50 0.74 1.00</string>
	<key>Network_GraphMode</key>
	<integer>0</integer>
	<key>Network_MenubarMode</key>
	<string>1,0</string>
	<key>Network_PrimaryInterface</key>
	<string></string>
	<key>Network_TextDownloadColor</key>
	<string>0.34 0.50 0.74 1.00</string>
	<key>Network_TextUploadColor</key>
	<string>0.88 0.19 0.14 1.00</string>
	<key>Sensors_MenubarItem</key>
	<array>
		<string>TCXC</string>
	</array>
	<key>Sensors_MenubarItems</key>
	<array>
		<string>TCXC</string>
	</array>
	<key>Sensors_MenubarMode</key>
	<string>0</string>
	<key>Time_Cities</key>
	<array>
		<string>5128581</string>
		<string>5391959</string>
		<string>1816670</string>
	</array>
	<key>Time_DropdownFormat</key>
	<array>
		<string>FUZZY</string>
	</array>
	<key>Time_MenubarFlashSeperators</key>
	<integer>1</integer>
	<key>Time_MenubarFormat</key>
	<array>
		<string>___ICON__TRANSPARENT___</string>
		<string>' '</string>
		<string>EE</string>
		<string>' '</string>
		<string>HH</string>
		<string>':'</string>
		<string>mm</string>
	</array>
	<key>Time_TextSize</key>
	<integer>13</integer>
	<key>_mac_id</key>
	<string>0483b74620b023fd60b7c9d7ecbadf2c</string>
	<key>migrated4.0</key>
	<true/>
</dict>
</plist>
