<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bookmarks</key>
	<array/>
	<key>BookmarksVisible</key>
	<false/>
	<key>ConfirmNoteDeletion</key>
	<false/>
	<key>DefaultEEIdentifier</key>
	<string>org.vim.MacVim</string>
	<key>DirectoryAlias</key>
	<data>
	AAAAAAGeAAIAAQZTcGVlZHkAAAAAAAAAAAAAAAAAAAAAAAAAAADMG7jVSCsAAAAttgEP
	Tm90YXRpb25hbCBEYXRhAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAADSaK8wtxUIAAAAAAAAAAAABAAQAAAkgAAAAAAAAAAAAAAAAAAAA
	E0FwcGxpY2F0aW9uIFN1cHBvcnQAABAACAAAzBuctQAAABEACAAAzC2pIgAAAAEAEAAt
	tgEALbX0AC21MQAAwEIAAgBAU3BlZWR5OlVzZXJzOgBrbmU6AExpYnJhcnk6AEFwcGxp
	Y2F0aW9uIFN1cHBvcnQ6AE5vdGF0aW9uYWwgRGF0YQAOACAADwBOAG8AdABhAHQAaQBv
	AG4AYQBsACAARABhAHQAYQAPAA4ABgBTAHAAZQBlAGQAeQASADVVc2Vycy9rbmUvTGli
	cmFyeS9BcHBsaWNhdGlvbiBTdXBwb3J0L05vdGF0aW9uYWwgRGF0YQAAEwABLwAAFQAC
	AAr//wAA
	</data>
	<key>LastScrollOffset</key>
	<real>0.0</real>
	<key>LastSearchString</key>
	<string></string>
	<key>NSTableView Columns notesTable</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBVRpdGxlhg==
		</data>
		<string>461</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErDURhdGUgTW9kaWZpZWSG
		</data>
		<string>100</string>
	</array>
	<key>NSTableView Hidden Columns notesTable</key>
	<array/>
	<key>NSTableView Sort Ordering notesTable</key>
	<array/>
	<key>NSWindow Frame NotationWindow</key>
	<string>640 358 600 820 0 0 1920 1178 </string>
	<key>RBSplitView H centralSplitView</key>
	<string>2 152.942 638.058</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2012-07-24T09:06:32Z</date>
	<key>TriedToImportBlor</key>
	<true/>
</dict>
</plist>
