<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MigrationUtilitiesCurrentBundleIdentifer</key>
	<string>org.pqrs.Karabiner</string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>736 904 400 129 0 0 1920 1178 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>648 588 620 392 0 0 1920 1177 </string>
	<key>NSWindow Frame SUUpdateAlertFrame</key>
	<string>670 589 575 392 0 0 1920 1178 </string>
	<key>SUFeedURL</key>
	<string>https://pqrs.org/osx/karabiner/files/appcast.xml</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2015-09-21T08:25:47Z</date>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitStandardFont</key>
	<string>Lucida Grande</string>
	<key>configList</key>
	<array>
		<dict>
			<key>appendIndex</key>
			<integer>1</integer>
			<key>identify</key>
			<string>config_1342464029_892091</string>
			<key>name</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>appendIndex</key>
			<integer>2</integer>
			<key>identify</key>
			<string>config_1393919191_987250</string>
			<key>name</key>
			<string>Emacs</string>
		</dict>
	</array>
	<key>config_1342464029_892091</key>
	<dict>
		<key>notsave.automatically_enable_keyboard_device</key>
		<integer>1</integer>
		<key>notsave.automatically_enable_pointing_device</key>
		<integer>1</integer>
		<key>parameter.keyoverlaidmodifier_timeout</key>
		<integer>300</integer>
		<key>private.f192f19_escape</key>
		<integer>1</integer>
		<key>remap.pc_application2escape</key>
		<integer>1</integer>
	</dict>
	<key>config_1393919191_987250</key>
	<dict>
		<key>private.correct_shift_keys</key>
		<integer>1</integer>
		<key>private.f192f19_ctrl</key>
		<integer>1</integer>
	</dict>
	<key>isQuitByHand</key>
	<false/>
	<key>selectedIndex</key>
	<integer>0</integer>
</dict>
</plist>
